@font-face {
    font-family:'IRANSans';
    src:url("https://www.emeral.ir/system/IRANSans.ttf") format('truetype');
    font-style:normal;
}
* {
    font-family: 'IRANSans', Arial, sans-serif !important;
    font-weight: normal !important;
}

.nk-navbar.nk-navbar-fixed {
    background-color: rgba(0, 0, 0, 0.57) !important;
}

.header_animation {
    position: relative;
    width: 100%;
}

.header_animation:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #171E22, #4cb88014, #171E2214);
}


/* .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
} */

/* titleha */

.nk-decorated-h-2::after {
    -webkit-box-flex: 20px;
    -ms-flex: 20px;
    flex: 20px;
    width: 20px;
    min-width: 20px;
}

.nk-decorated-h-2::before {
    content: "";
    display: block;
    -webkit-box-flex: 100;
    -ms-flex: 100;
    flex: 100;
    border-bottom: 4px solid;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.nk-decorated-h-2::after,
.nk-decorated-h-2::before {
    border-bottom-color: #293139;
}

/* titleha */


.nk-widget-highlighted .nk-widget-title::after {
    content: "";
    position: absolute;
    display: block;
    top: 32px;
    right: 30px;
    left: 1px;
    height: 3px;
    background-color: #fff;
    z-index: -1;
}

.nk-news-box .nk-news-box-item .nk-news-box-item-img {
    float: right;
    width: 100px;
    margin-left: 20px;
    overflow: hidden;
    text-align: right;
    margin-right: 0;
}

.nk-news-box .nk-news-box-item {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: .15s color, .15s background-color;
    -o-transition: .15s color, .15s background-color;
    transition: .15s color, .15s background-color;
}




.nk-news-box .nk-news-box-each-info .nk-news-box-item-date {
    float: left;
    margin-top: 5px;
    font-size: .9em;
}

.nk-blog-post {
    margin-bottom: 30px;
}

.nk-widget-post,
.nk-widget-post-2 {
    padding-right: 110px;
    padding-left: 0;
}

.nk-widget-post .nk-post-image,
.nk-widget-post-2 .nk-post-image {
    float: right;
    width: 90px;
    margin-right: -110px;
    overflow: hidden;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.nk-widget-highlighted .nk-widget-content {
    padding: 20px 23px;
    background-color: #232930;
    border: 1px solid #293139;
    text-align: right;
    direction: rtl;
}

/* //////// */
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: right;
    direction: rtl;
}
.nk-navbar-side.nk-navbar-right-side {
    width: 250px;
    margin-right: -250px;
}
/* .nk-navbar .nk-nav .dropdown>li>a {
    display: block;
    padding: 17px 6px;
    padding-left: 64px;
    padding-right: 20px;
    text-align: right;
}

.nk-navbar-side .nk-nav .nk-drop-item .nk-drop-item>a::after,
.nk-navbar-side .nk-nav .nk-drop-item>a::after,
.nk-navbar-side .nk-nav>.nk-drop-item>a::after {
    position: absolute;
    left: 20px;
} */

/* .nk-navbar .nk-nav>li>a {
    position: relative;
    display: block;
    padding: 6px 21px;
    direction: rtl;
} */

/* .nk-navbar .nk-nav .nk-drop-item .nk-drop-item .dropdown {
    top: 0;
    right: 5px;
    margin-top: 0;
    margin-right: 100%;
} */

/* /////// */

.nk-breadcrumbs {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.nk-post-categories {
    float: left;
    margin-top: 0;
    font-size: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255, 0, 0);
}
.nk-footer {
    position: relative;
    overflow: hidden;
    color: #eee;
    background-color: rgba(17, 22, 25, 0);
    z-index: 1;
    background: linear-gradient(180deg, rgba(172, 164, 164, 0) 11.13%, #1110 79.52%), url(https://www.emeral.ir/system/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.custom_hover:hover {
    background-color: #293139;
}
